$color-white: #fff;
$color-black: #000;
$color-green-light: #28a715;

$color-font-default: $color-black;
$default-font-size: 1.6rem;

$background-color: #4a90e2;
$background-color-secondary: #f4f4f4;

$container-bgcolor: #f2f2f2;
$container-border-color: $color-black;

$textbox-border-color: #aaa;

$button-text-color: $color-white;
$button-clear-color: #9f6060;
